<head>
    <meta charset="utf-8">
    <title>方面级情感分析系统</title>
</head>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='index.css')}}">

<body background="{{url_for('static', filename='images/background.jpeg')}}">
    <div>
        <h1>
            方面级情感分析系统
        </h1>
        <hr />

        <div class="div1">
            <form method="post">
                <div>
                    <b>
                        {{ form.text1.label }}
                    </b>
                </div>
                <div>
                    <b>
                        {{ form.text2.label }}
                    </b>
                </div>
                <hr />
                <div>
                    {{ form.string }}
                </div>
                <hr />
                <div>
                    {{ form.submit1 }}
                    {{ form.submit2 }}
                </div>
                <div>
                    {% for i in output %}
                    <p>
                        {{i}}
                    </p>
                    {% endfor %}
                </div>
            </form>
        </div>
    </div>
</body>